__pycache__/
*.pyc

venv/
.env

uploads/*
!uploads/.gitkeep

reports/*
!reports/.gitkeep

temp/*
!temp/.gitkeep

extracted_frames/*
!extracted_frames/.gitkeep

cropped_faces/*
!cropped_faces/.gitkeep

static/results/*
!static/results/.gitkeep

models/*.h5
models/*.pt
models/*.pth